// Colors
$white: #ffffff;
$black: #000000;
$navbar-color: #1f1534;
$text-color: #7d7987;
$link-color: #458ff6;

// Breakpoints
$desktop-l: 1440px;
$desktop: 1240px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;
