// Commons
@import "./variables";
@import "./mixins";

// Blocks
@import "./blocks/common";
@import "./blocks/header";
@import "./blocks/about";
@import "./blocks/services";
@import "./blocks/providers";
@import "./blocks/testimonials";
@import "./blocks/blog";
@import "./blocks/footer";
