.about {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    justify-content: center;
    flex-direction: column;
    gap: 60px;
  }

  .about-content {
    width: 40%;

    @media (max-width: $tablet) {
      width: 100%;
      text-align: center;
      padding: 0 50px;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }

    .about__title {
      font: 48px "Mulish";
      font-weight: 700;
      line-height: 1.2;
      color: $black;
      transition: font-size 0.4s ease;
      margin-bottom: 25px;

      @media (max-width: $tablet-l) {
        font-size: 36px;
        margin-bottom: 18px;
      }

      @media (max-width: $tablet) {
        margin-bottom: 16px;
      }

      @media (max-width: $mobile) {
        font-size: 26px;
      }
    }

    .about__description {
      font: 21px "Mulish";
      font-weight: 300;
      line-height: 1.5;
      color: $text-color;
      margin-bottom: 45px;

      @media (max-width: $tablet-l) {
        font-size: 16px;
      }

      @media (max-width: $tablet) {
        margin-bottom: 30px;
      }

      @media (max-width: $mobile) {
        font-size: 15px;
      }
    }

    .about__link {
      background: $link-color;
      border: 1px solid $link-color;
      padding: 18px 40px;
      border-radius: 55px;
      font: 18px "Mulish";
      font-weight: 700;
      color: $white;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.4s ease,
        font-size 0.4s ease;

      &:hover {
        background-color: transparent;
        color: $link-color;
      }

      @media (max-width: $tablet-l) {
        font-size: 16px;
        padding: 16px 45px;
      }

      @media (max-width: $tablet) {
        padding: 16px 45px;
      }

      @media (max-width: $mobile) {
        font-size: 15px;
        padding: 14px 35px;
      }
    }
  }

  .about-image {
    width: 55%;

    @media (max-width: $tablet) {
      width: 100%;
    }

    .about__thumb {
      max-width: 100%;
      height: auto;
    }
  }
}
