/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
  font-family: "Mulish", sans-serif;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 20px;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* IMAGE */
img {
  max-width: 100%;
}

/* IMAGE */
.line {
  width: 56px;
  height: 2px;
  background-color: $black;
  display: block;
}

/* BUTTON */
#primary-link {
  background: transparent;
  border: 1px solid $link-color;
  padding: 15px 50px;
  border-radius: 55px;
  font: 18px "Mulish";
  font-weight: 700;
  color: $link-color;
  vertical-align: middle;

  text-decoration: none;
  transition: background-color 0.4s ease, color 0.4s ease, font-size 0.4s ease,
    padding 0.4s ease;

  &:hover {
    background-color: $link-color;
    color: $white;
  }

  @media (max-width: $tablet-l) {
    font-size: 17px;
    padding: 13px 51px;
  }

  @media (max-width: $tablet) {
    font-size: 15px;
  }

  @media (max-width: $mobile) {
    padding: 11px 40px;
  }
}
