/* MAIN HEADER */
.main-header {
  position: sticky;
  top: 0;
  background-color: $white;
  padding: 20px 0;

  @media only screen and (max-width: $tablet) {
    position: static;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }

  #hamburger {
    @media (max-width: $tablet) {
      &:checked ~ .nav .nav__list {
        transform: translateX(0);
      }

      &:checked + .hamburger #menu {
        display: none;
      }

      &:checked + .hamburger #close {
        display: block;
      }
    }
  }

  #menu,
  #close {
    position: fixed;
    font-size: 40px;
    top: 20px;
    left: 10px;
    display: none;
    z-index: 101;
    background-color: $white;
    border-radius: 5px;
  }

  &__logo-img {
    width: 160px;
    height: 41px;
  }

  #menu {
    @media (max-width: $tablet) {
      display: block;
    }
  }

  /* SITENAV */
  .nav {
    &__list {
      display: flex;
      list-style-type: none;

      @media (max-width: $tablet) {
        flex-direction: column;
        background-color: $white;
        width: 35%;
        height: 100vh;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        padding: 55px 0 0 20px;
        transition: transform 0.3s ease;
      }

      @media (max-width: $mobile) {
        width: 50%;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-right: 40px;
      }

      @media (max-width: $tablet) {
        margin: 5px 0;
      }
    }

    &__link {
      text-decoration: none;
      color: $navbar-color;
      opacity: 0.5;
      font: 18px "Mulish";

      &.nav__link--checked {
        opacity: 1;
        font: 18px "Mulish";
        font-weight: 700;
      }

      @media (max-width: $mobile) {
        font-size: 17px;
      }
    }
  }
}
