.providers {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--reverse {
    flex-direction: row-reverse;
  }

  @media (max-width: $tablet-l) {
    flex-direction: column;
    gap: 90px;

    &--reverse {
      flex-direction: column-reverse;
    }
  }

  .providers-image {
    width: 60%;

    @media (max-width: $tablet) {
      width: 100%;
    }

    .providers__thumb {
      max-width: 100%;
      height: auto;
    }
  }

  .providers-content {
    width: 30%;

    @media (max-width: $tablet) {
      width: 100%;
    }

    .providers__title {
      font: 36px "Mulish";
      font-weight: 700;
      line-height: 56px;
      color: $black;

      @media (max-width: $tablet-l) {
        font-size: 30px;
        line-height: 40px;
      }

      @media (max-width: $tablet) {
        text-align: center;
      }

      @media (max-width: $mobile) {
        font-size: 25px;
        line-height: 32px;
      }
    }

    .line {
      margin-top: 26px;

      @media (max-width: $tablet) {
        margin: 22px auto 0;
      }
    }

    .providers__description {
      font: 18px "Mulish";
      font-weight: 300;
      margin: 30px 0 37px;
      line-height: 30px;

      @media (max-width: $tablet-l) {
        font-size: 17px;
        line-height: 25px;
      }

      @media (max-width: $tablet) {
        text-align: center;
      }

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .providers-link {
      .providers__link {
        transition: 0.3s ease;

        &:hover svg {
          color: $white;
        }
      }

      @media (max-width: $tablet) {
        display: flex;
        justify-content: center;
      }
    }
  }
}
